*,
*::after
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-page {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}
.heading-conteiner {
    width: 334px;
    height: 79px;
    margin-top: 25px;
    left: 0px;
    display: flex;
    align-items: flex-end;
    text-align: center;  
}
.heading-element:nth-child(1) {
    color: black;
    font-size: 80px;
}
.heading-element:nth-child(2) {
    color: #00bfff;
    font-size: 80px;
}
.heading-link {
    text-decoration: none;
}
.heading-link:hover {
    text-decoration: underline; 
    color: blue;
}
.list-menu {
    width: auto;
    height: 50px;
    margin: 0;
    margin-left: 0;
    margin-top: 30px;
    background-color: #35444f;
    align-items: center;
    justify-content: center;
    overflow:hidden;

}
.list-menu-item {
    border: 1px solid white;
    background-color: #35444f;
    display: inline-block;
    margin: 0;
    padding: 25px 50px;
    font-size: 15px;
    overflow: hidden;
    
}
.list-menu-item:nth-child(1){
    empty-cells: show;
    visibility: hidden;
}

.list-menu-name {
    color: white;
}
.list-menu-link {
    text-decoration: none;
    color: white;
}
.list-menu-link:hover {
    background-color: #222F3A;
    color: white;
}
.block {
    display: flex;
}
.sidenav {
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);; 
    margin: 5px;
    margin-left: 0;
    margin-top: 50px;
    padding: 5px;
    width: 344px;
    font-size: 15px;
    height: 299px;
    overflow: hidden;
}
.sidenav-list-items {
    display: block;
    padding: 15px;
    text-decoration: none;
    align-items: center;
}
.sidenav-item {
    color: black;
}
.image-wrap {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin: 5px;
    justify-content: right;
    margin-left: 200px;
    margin-top: 50px;
}
.image-item {
    display: block;
    margin-left: 200px;
    margin-right: auto ;
    margin-top: 75px;
    margin-bottom: auto;
    width: 320px;
    height: 381px;
}
.paragraph {
    border: 1px solid white;
    display: inline-block;
    margin-top: 37px;
    margin-left: 470px ;
}
.page-footer {
    display: inline;
    background-color: rgba(99, 105, 110, 0.48);
    border: none;
    height: 50px;
}
.page-footer-list {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    list-style: none;
    height: 50px;
    box-sizing: border-box;
    width: auto;
    align-items: center;
    justify-content: center;
}
.page-footer-list-item {
    box-sizing: border-box;
    display: inline-block;
    color: black;
    margin right: 0;
    padding: 0;
    width: 1280px;
    left: 0px;
    top: 0px;
}
.page-footer-list-link {
    text-decoration: none;
    padding: 2px;
    color: black;
    height: 50px;
    width: 30px;
    font-size: 20px;
           
}
.page-footer-list-link:hover {
    text-decoration: none;
    color:blue;
}