*,
*::after,
*::before {
   box-sizing: border-box;
}
a {
    text-decoration: none;
}
.page {
   height: 100%;
}
.page-body {
    margin: 0%;
}
.page-nav {
    background-color: white;
}
.page-menu {
    margin: 0%;
    text-align: center;
}
.page-menu-item {
    display: inline-block;
    margin-right: 0;
    padding: 20px;
    font-family: ;
}
.page-menu-link {
    color: red;
}
.banner {
    width: 1280px; height: 789; top: 78px;
}
.heading {
    text-align: center;
}
.text {
    text-align: center;
    margin-right: 67.5px;
    margin-left: 67.5px;
}
.second text {
    text-align: center;
    margin-right: 67.5px;
    margin-left: 67.5px;
}
.default {
    margin: 0 auto;
    display: block;
    background-color: red;
    width: 191px;
    height: 51px;
    color: white;
    margin-top: 82px;
}
.text-small {
    text-align: right;
    margin-top: 82px;
    margin-bottom: 54px;
    margin-right: 105px;
}


    
